extends layout

block content
  .container
    h1 Test List
    table
      tr
        th Title
        th Option
      if data
        each file in data
          tr
            td #{file.title}
            td 
               a(class='button', href=`download/test/${file.key}/${file.originalname}` id='download') Download
      else
        p No Tests Yet
