extends layout

block content
  h1 Assigment List
  table
    tr
      th Title
      th Due Date
      th Option
    if files
      each file in files
        tr
          td 
          td 
          td
             a(class='button', href='#') Download
    else
      p No Assigments Yet
